.body {
  width: 98vw;
  height: 96vh;
  padding: 2vh 1vw 2vh 1vw;
  background-color: rgb(82, 20, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.column {
  height: 100%;
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.input {
  width: 30%;
  height: 40px;
  margin-top: 100px ;
  background-color: rgb(216, 141, 160);
  border-color:  rgb(192, 126, 142);
  color: rgb(49, 11, 19);
}
.button-input {
  width: 20%;
  height: 40px;
  margin-top: 100px ;
  background-color: rgb(216, 141, 160);
  border-color:  rgb(192, 126, 142);
  color: rgb(49, 11, 19);

}
.square1 {
  width: 100%;
  height: 50%;
  background-color: rgb(236, 166, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;

}
.square2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.square3 {
  width: 100%;
  height: 50%;
  background-color: rgb(216, 166, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.square4 {
  width: 100%;
  height: 50%;
  background-color: rgb(166, 225, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.button {
  width: 40%;
  height: 50px;
  margin-top: 100px ;
  background-color: rgb(216, 141, 160);
  border-color:  rgb(192, 126, 142);
  color: rgb(49, 11, 19);

}

.button:hover{
  background-color: rgb(99, 52, 60);
  color: rgb(255, 180, 196);
}


.text {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 40px;
  font-size: 80px;
  color: rgb(77, 40, 23);
}
.text-name {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 40px;
  font-size: 40px;
  color: rgb(77, 23, 23);
}

.column {
  width: 50%;
  height: 100%;
}