*{
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 15vh;
  background-color: rgb(133, 51, 153);
  font-size: 80px;
  font-family:'Times New Roman', Times, serif;
}
h1{
  margin: 0;
}
